<VirtualHost *:80>
    ServerName {{ ansible_hostname }}
    ServerAlias {{ ansible_hostname }}
    DocumentRoot /var/www/html/wordpress

    <Directory /var/www/html/wordpress>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ apache2_vhost_error_log }}
    CustomLog ${APACHE_LOG_DIR}/{{ apache2_vhost_access_log }} combined
</VirtualHost>